*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:#eaf8ff;
padding:20px;
}

h1{
text-align:center;
margin-bottom:20px;
color:#006d9c;
}

header{
display:flex;
flex-direction:column;
align-items:center;
gap:10px;
margin-bottom:25px;
}

#reset{
padding:10px 20px;
border:none;
border-radius:8px;
background:#0088cc;
color:white;
cursor:pointer;
}

#malla{
display:flex;
gap:20px;
overflow-x:auto;
padding-bottom:20px;
}

.ciclo{
min-width:250px;
background:white;
border-radius:12px;
padding:15px;
box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.ciclo h2{
text-align:center;
margin-bottom:15px;
color:#0088cc;
}

.materia{
padding:10px;
border-radius:8px;
margin-bottom:8px;
cursor:pointer;
transition:.2s;
border:2px solid transparent;
}

.materia:hover{
transform:scale(1.03);
}

.bloqueada{
background:#cfcfcf;
cursor:not-allowed;
}

.disponible{
background:#9edcff;
}

.tp{
background:#ffe28a;
}

.final{
background:#8ff0a4;
}

.codigo{
font-weight:bold;
font-size:14px;
}

.nombre{
font-size:13px;
}

.requisitos{
font-size:11px;
margin-top:5px;
opacity:.7;
}
